<table border class="Metrics">
    <tr>
        <th colspan="2">Metrics</th>
    </tr>
    <% for (const key in metrics) {
        const value = metrics[key];
    %>
        <tr>
            <td class="key"><%= key %></td>
            <td>
                <% if (key === 'Next cycle') { %>
                    <span class="next-cycle"><%= value %></span>
                <% } else { %>
                    <%= (typeof value !== 'string' ? JSON.stringify(value) : value) %>
                <% } %>
            </td>
        </tr>
    <% } %>
</table>

<table border class="Debug">
    <tr>
        <th colspan="2">Debug</th>
    </tr>
    <% for (const key in debug) {
        const value = debug[key];
    %>
        <tr>
            <td class="key"><%= key %></td>
            <td><%= (typeof value !== 'string' ? JSON.stringify(value) : value) %></td>
        </tr>
    <% } %>
</table>

<style>
    body {
        font-family: Arial;
        font-size: 16px;
        margin: 0;
    }
    table.Metrics,
    table.Debug {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
    }
    table.Debug {
        margin-top: 50px;
    }
    th {
        user-select: none;
        background: #f4f4f4;
    }
    th, td {
        padding: 15px;
        word-break: break-word;
        text-align: left;
    }
    .key {
        width: 140px;
    }
</style>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const node = document.querySelector('.next-cycle');
        if (!node) return;
        let seconds = parseInt(node.innerText.trim()) || 0;
        const btn = '<button onclick="location.reload()">reload</button>';
        if (seconds < 1) {
            node.innerHTML = btn;
        } else {
            const end = Date.now() + seconds * 1000;
            const itv = setInterval(() => {
                const now = Date.now();
                const seconds = Math.round((end - now) / 1000);
                if (seconds < 1) {
                    clearInterval(itv);
                    node.innerHTML = btn;
                } else {
                    node.innerText = seconds + 's';
                }
            }, 1000);
        }
    });
</script>
